<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duoduo.main">

    <application android:allowBackup="true">

        <!-- 主Activity -->
        <activity android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 主Service -->
        <service android:name=".main.MainService"></service>

    </application>
</manifest>
