<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duoduo.main">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:allowBackup="true">

        <!-- 主Activity -->
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 7.0FileProvider测试 -->
        <activity android:name=".demo.FileProviderTestActivity"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.duoduo.main.filerprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/main_file_provider_paths" />
            />
        </provider>

        <!-- 主Service -->
        <service android:name=".main.MainService"></service>

    </application>
</manifest>
